@import "../variables.scss";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 112px;

  .copyright {
    font-size: 16px;
    line-height: 24px;
    color: $primary-300;
  }
}
