@import "@/styles/variables.scss";

.text {
  text-align: center;
  .word {
    display: inline-block;

    &.purple {
      color: $primary-600;
    }
  }

  .character {
    display: inline-block;
    position: relative;
    z-index: 2;
    cursor: pointer;

    span {
      display: inline-block;
      position: relative;
      left: 0;
      top: 0;
      transition: all 0.05s ease-in;
      z-index: 1;
    }

    &:hover {
      span {
        top: -20px;
        left: -5px;
        transform-origin: center;
        transform: rotateZ(-20deg);
      }
    }
  }

  .specialCharacter {
    color: $white;
  }
}
