@import "@/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;

  .textSide {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .list {
      background-color: linear-gradient(97.24deg, $black 2.04%, $black 100%);
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 32px;
      transform-style: preserve-3d;

      .feature {
        width: 100%;
        background: $black;
        position: relative;
        display: flex;
        gap: 16px;
        border: 1px solid transparent;
        border-radius: 20px;
        padding: 0px;
        left: 0;
        transition: all .4s;
        transform-style: preserve-3d;

        &::after,
        &::before {
          content: "";
          position: absolute;
          border-radius: inherit;
          inset: 0;
          transition: inherit;
          z-index: -2;
        }

        &::before {
          background: $black;
          transform: translateZ(-19px);
        }

        &::after {
          background-color: $primary-600;
          transform: translateZ(-20px);
        }

        .featureText {
          display: flex;
          flex-direction: column;
          gap: 8px;
          padding-top: 10px;
          transition: inherit;

          .featureDescription {
            color: $gray-400;
          }
        }

        &:hover {
          width: calc(100% + 48px);
          cursor: pointer;
          margin: 5% 0;
          padding: 24px;
          left: -24px;
          background: linear-gradient(97.24deg, #131415 2.04%, #2A1C51 100%);
          transform: perspective(5000px) translateZ(10px);
          border: 1px solid $primary-900;

          &::before {
            left: 10px;
            bottom: 20px;
            top: -20px;
            right: -10px;
            filter: blur(30px);
          }

          &::after {
            left: 24px;
            bottom: 24px;
            top: -24px;
            right: -24px;
          }
        }

        &:first-child:hover {
          margin: 0px 0px 5%;
        }

        &:last-child:hover {
          margin: 5% 0px 0px;
        }
      }
    }

    .link {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 20px;
      border-radius: 24px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: $primary-700;
    }
  }

  .imageSide {
    padding-bottom: 7px;

    .card {
      position: relative;
      background-color: $gray-900;
      border-radius: 40px;
      padding: 48px 44px 31px;
      display: flex;
      flex-direction: column;

      .imageComment {
        font-family: "Preahvihear", sans-serif;
        font-size: 24px;
        line-height: 110%;
        color: $white;
        max-width: 423px;
        margin: 0 auto;

        span {
          color: $primary-600;
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        padding-right: 13%;
      }
    }
  }
}
