@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Preahvihear&family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
  line-height: 110%;
}

h2 {
  font-size: 32px;
  line-height: 110%;
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $gray-400;
}

.subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $primary-600;
}

@media screen and (max-width: $tablet) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }

  h2 {
    font-size: 30px;
    line-height: 38px;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
  }
}
