$black: #131415;
$white: #FFFFFF;
$primary: #7F56D9;
$primary-background: #53389E;
$light-primary: #D6BBFB;
$dark-primary: #42307D;
$gray: #98A2B3;
$dark-gray: #344054;

$desktop: 1028px;
$tablet: 768px;