@import "@/styles/variables.scss";

.section {
  border: 1px solid #262626;
  box-shadow: 0px -10px 14px rgba(0, 0, 0, 0.33);
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .expandBtn {
      cursor: pointer;
      padding: 12px 20px;
      display: flex;
      gap: 8px;
      border-radius: 24px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $primary-700;
      transform-origin: center;
      transition: all .5s;

      img {
        transition: inherit;
      }

      &.expanded {
        img {
          transform: rotateZ(180deg);
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .section {
    display: none;
  }
}