@import "@/styles/variables.scss";

.section {
  border-bottom: 1px solid #262626;
  box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.33);
  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;

    .imageContainer {
      position: relative;
      width: 100%;

      .imageComment {
        position: absolute;
        top: 0px;
        right: 0px;
        font-family: "Preahvihear", sans-serif;
        font-size: 24px;
        line-height: 110%;
        color: $white;
        text-align: right;
      }

      .glowContainer {
        position: absolute;
        inset: 0;
        z-index: -1;
      }

      img {
        width: 100%;
      }
    }

    .text {
      font-weight: 700;
      font-size: 48px;
      line-height: 110%;
      align-self: center;

      .swiperWrapper {
        overflow: hidden;
        max-height: 55px;

        .swiper {
          position: relative;
          height: 55px;

          .slide {
            background: linear-gradient(
              91.17deg,
              #5f55d5 0.37%,
              #ee4477 91.66%
            );
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            span {
              color: $white;
            }
          }
        }
      }
    }
  }
}
