@import "@/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 632px;
  transition: all 0.5s;

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .largeDescription {
    p {
      font-size: 20px;
    }
  }

  .expandableDescription {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: height 2s cubic-bezier(0, 1, 0, 1);

    p {
      font-size: 20px;
      line-height: 1.5;
    }

    &.expanded {
      -webkit-line-clamp: initial;
    }
  }
}
