@import "@/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;

  .glowContainer {
    position: absolute;
    width: 501.29px;
    height: 561.19px;
    top: -400px;
    left: 50%;
    transform: translateX(-50%);

    &.low {
      top: -250px;
    }
  }

  .description {
    max-width: 585px;
    font-size: 20px;
    color: $gray-400;

    &.contact {
      max-width: 476px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .container {

    .description {
      font-size: 18px;
      line-height: 28px;
    }

    .glowContainer {
      display: none;

      &.low {
        display: block;
      }
    }
  }
}