@import "@/styles/variables.scss";

.container {
  position: relative;
  top: 0px;
  left: 0;
  transition: 0.1s ease-in;

  &.left {
    left: -100%;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    width: 100%;
    
    &.left {
      left: 0;
      animation: .5s linear forwards rotate;
    }
  }
}

@keyframes rotate {
  0% {
    width: 100%;
    top: 0px;
    left: 0;
    transform: rotate(0deg);
  }

  40% {
    top: -200px;
    left: 30%;
    transform: rotate(360deg);
    width: 50%;
  }

  80%{
    width: 100%;
    left: 0;
    top: 10px;
    transform: rotate(740deg);
  }

  90% {
    width: 100%;
    left: 0;
    top: 10px;
    transform: rotate(710deg);
  }

  100% {
    width: 100%;
    left: 0;
    top: 0px;
    transform: rotate(720deg);
  }
}