@import '@/styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    overflow: visible;

    .titleContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 64px;
    }
}

@media screen and (max-width: $tablet) {
    .section {
        .container {
            .list {
                grid-template-columns: 1fr;
            }
        }
    }
}